.form-wrapper {
    margin: 150px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
  }
  .field {
    outline: none;
     border: 1px solid #ccc;
     background-color: white;
     font: inherit;
     padding: 6px 10px;
     display: block;
     width: 100%;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }
 .field-wrapper {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.error {
  width: 100%;
  text-align: left;
  font-size: 12px;
  color: #db222a;
}